torch
lightning
sentence-transformers
tqdm
adapters
transformers
gym==0.26.2
rich==13.4.2
pygame==2.5.2
progressbar==2.5
protobuf==5.27.0
peft==0.11.1
accelerate==0.31.0
bitsandbytes
datasets==3.0.1
gradio==5.5.0
matplotlib==3.9.2